<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
=======

>>>>>>> 9b24c182397a003f9c7ed5d2894b89e5c84147d7
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{{body}}}
<<<<<<< HEAD
=======
   <p>footer</p> 
>>>>>>> 9b24c182397a003f9c7ed5d2894b89e5c84147d7
</body>
</html>