<h1>Adicione um usuário</h1>


<div>
    <form action="/users/create" method="POST">
        <label for="nome">Nome do Usuário</label>
        <input type="text" name="name" id="nome_canal" placeholder="Digite o nome do usuário">

        <label for="">Digite a sua profissão</label>
        <input type="text" name="ocuppation" id="seg_canal" placeholder="Digite sua profissão">

     <input type="checkbox" name="newsletter" checked>
     <label for="newsletter">Deseja receber nossa newsletter?</label>

      <input type="submit" value="Cadastrar">
    </form>
</div>