*{
    font-family: Arial, Helvetica, sans-serif;
}

#nav-bar{
   border-bottom: 1px solid #CCC;
}
#nav-bar ul{
    display: flex;
    list-style: none;
 }
 #nav-bar li{
    margin-left: 1em;
 }



body{
    background-color: gold;
}

h1{
    
    text-align: center;
}

.form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.form-control label{
    font-weight: bold;
   margin-bottom: 0.3em;
}



.submit{
   margin-top: 0.3em;
   
}

.bold{
    font-weight: bold;
}

.botton{
    
    margin: 0 auto;
}