<h1>Listagem de séries</h1>

<form action="/series/insert" method="POST" class="form">

<div class="form-control">
    <label for="title">Digite o título da série</label>
    <input type="text" name="title" placeholder="Nome da série">
</div>

<div class="form-control">
    <label for="episodios">Quantidade de episódios</label>
    <input type="number" name="episodios" placeholder="Digite o número de episódios">
</div>
<input type="submit" value="Cadastrar">

</form>