<h1>Informações sobre a série</h1>

<div>
   # Nome da Série =  {{serie.title}}
</div>
<div>
    #Quantidade de Episódios = {{serie.episodios}}
</div>
<div>
    <a href="/update/{{serie.id}}"><input type="submit" value="Editar"></a>
    
</div>