<h1>Lista de animes</h1>

    {{#each animes}}
    <div class="anime-control"></div>
    #{{this.id}} - <a href="/animes/{{this.id}}">{{this.title}}</a> - número de episódios = {{this.page}}
    </div>
{{/each}}
