
    <h1>Inserindo animes</h1>
    <form action="/animes/insertanimes" class="form" method="POST">
    <div class="form-control">
        <label for="title">Insira o nome do Anime</label>
        <input type="text" name="title" placeholder="Digite aqui">
    </div>
    <div class="form-control">
        <label for="page">Insira o número de episódios</label>
        <input type="number" name="page" placeholder="Digite aqui">
    </div>
    <input type="submit" value="Cadastrar">
    </form>
