<h1>Lista de animes</h1>
<form action="/animes/createanime" class="form" method="POST">
    <div class="form-control">
        <label for="title">Digite o título do Anime</label>
        <input type="text"  name="title" placeholder="Digite aqui o nome do anime">
     </div>   
     <div class="form-control">
        <label for="episodios">Digite a quantidade de episódios</label>
        <input type="number" name="episodios" placeholder="Digite a quantidade de episódios">
    </div>
    <input type="submit" value="Cadastrar" class="submit" >

</form>