<h2>Cadastrar Canais</h2>
<div>
    <form action="/canais/select" method="POST">
        <label for="nome">Nome do Canal</label>
        <input type="text" name="nome" id="nome_canal" placeholder="Digite o nome do canal">

        <label for="">Segmento do Canal</label>
        <input type="text" name="segmento" id="seg_canal" placeholder="Digite o segmento do canal">

        <input type="submit" value="Cadastrar">
    </form>
</div>