<h3>Informações sobre o Canal</h3>

<table id="customers">
    <tr>
        <th>Canal</th>
        <th>Segmento</th>
    </tr>
    
    <tr>
       
        <td>{{canal.nome}} </td>
        <td>{{canal.segmento}}</td>
        
    </tr>
    

</table>
<a href="/update/{{canal.id}}">
    <input type="submit" class="button button1" value="Editar">
</a>
