<h1>Bem vindo</h1>
{{#if auth}}
<p>Você está autenticado{{users.name}}, sua profissão é {{users.profission}}</p>
<p><a href="dashboard">clique aqui</a>para ser direcionado a área de membros</p>
{{/if}}

<a href="blog">Clique aqui para conhecer nossos posts</a><br>
<a href="posts">Clique aqui para conhecer nossos cursos</a>