<h1>Projeto Handlebars</h1>
<p>
    {{#if auth}}
      Você está autenticado. <a href="dashboard">Clique aqui</a> para ser direcionado a área de membros.
      {{else}}
      <p>Você não está autenticado</p>
    {{/if}}
</p>
<p>Conheça nossos posts <a href="/post">clicando aqui</a></p>