
<form action="/anime/updateanime" method="POST" class="form">
<h1>Edite o anime</h1>
<div class="form-control">
    <input type="hidden" name="id" value="{{anime.id}}">
<label for="title" >Digite o nome do Anime</label>
<input type="text" name="title" class="form-control" value="{{anime.title}}">
</div>

<div class="form-control">
<label for="page" class="form-control">Digite a quantidade de episódios</label>
<input type="number" name="page" class="form-control" value="{{anime.page}}">
</div>
<input type="submit" value="Atualizar">

</form>