
<form action="/animes/insertanimes" method="POST" class="form">
<h1>Cadastre um anime</h1>
<div class="form-control">
<label for="title" >Digite o nome do Anime</label>
<input type="text" name="title" class="form-control">
</div>

<div class="form-control">
<label for="page" class="form-control">Digite a quantidade de episódios</label>
<input type="number" name="page" class="form-control">
</div>
<input type="submit" value="Cadastrar">

</form>