<h1>Cadastrando animes</h1>
<form action="/animes/insertanimes" method="POST" class="form">
<div class="form-control">
<label for="title">Digite aqui o nome do anime</label>
<input type="text" name="title" class="form-control" placeholder="Digite aqui o nome do anime" >
</div>
<div class="form-control">
<label for="page">Digite a quantidade de episódios</label>
<input type="number" name="page" class="form-control" placeholder="Digite aqui">

</div>
<input type="submit" value="Cadastrar">
</form>